{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    // Stage 0
    "@babel/plugin-proposal-function-bind",

    // Stage 1
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-logical-assignment-operators",
    ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["@babel/plugin-proposal-nullish-coalescing-operator", { "loose": false }],
    "@babel/plugin-proposal-do-expressions"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["styled-components", {
          "minify": false
        }]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        ["styled-components", {
          "fileName": false,
          "displayName": true,
          "minify": false
        }]
      ]
    },
    "staging": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["styled-components", {
          "displayName": true
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["styled-components", {
          "displayName": true
        }]
      ]
    }
  }
}
