.DS_Store
.aws-sam
.happypack
.idea
.tern-port
.env
dist
*.log
node_modules
coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

junit.xml
**/junit.xml
test-results.xml
**/test-results.xml

# Svg format transformer temp files
**/.png-cache
