
files:
  "/etc/nginx/conf.d/static_cors.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        #
        # Wide-open CORS config for nginx
        #
        server {
            location /rails-assets/ {

                gzip_static on;
                add_header 'Access-Control-Allow-Origin' '*';
                add_header 'Access-Control-Allow-Credentials' 'true';
                add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
                add_header 'Access-Control-Allow-Headers' 'Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Origin,Accept';
                add_header 'Cache-Control' 'public, max-age=31536000';
            }
        }
