container_commands:
  01_fix_static_cors:
    command: "/tmp/fix_static_cors.sh"
files:
  "/tmp/fix_static_cors.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pushd $(/opt/elasticbeanstalk/bin/get-config container -k config_staging_dir)
      echo "Adding CORS Config"
      PROXY_CONF="#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
      grep static_cors.config $PROXY_CONF || sed -i '/location \/react-assets {/a \ \ \ \ include /etc/nginx/conf.d/static_cors.config;' $PROXY_CONF
  "/etc/nginx/conf.d/static_cors.config":
    mode: "000644"
    owner: root
    group: root
    content: |
        #
        # Wide-open CORS config for nginx
        #
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Origin,Accept';
        add_header 'Cache-Control' 'public, max-age=31536000';
