container_commands:
  01_add_https_fwd:
    command: /tmp/nginx_https.sh $SLY_ENV
files:
  "/tmp/nginx_https.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pushd $(/opt/elasticbeanstalk/bin/get-config container -k config_staging_dir)
      echo "Adding nginx Config"
      echo "SLY Environment $1"
      if [ "$1" == "production" ];
      then
        PROXY_CONF="#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
        grep "rewrite ^/(.+)/$ https://$host$request_uri permanent" $PROXY_CONF || sed -i '/listen 8080;/a \    rewrite ^/(.*)/$ https://$host/$1 permanent;\n' $PROXY_CONF

      else
        echo "Not production environment"
      fi
