container_commands:
  01_add_VERSION_file:
    command: "/tmp/add_VERSION_file.sh"
files:
  "/tmp/add_VERSION_file.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Adding VERSION file"
      pushd $(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      cat /opt/elasticbeanstalk/deploy/manifest | grep -oP "(?<=SlyReact\":{\")[^\"]*" > ./VERSION
