files:
  "/opt/elasticbeanstalk/sly-env.vars":
    mode: "000775"
    owner: root
    group: users
    content: |
      # Defines variables for use by the other scripts below.

      SLY_EB_NODE_VERSION=$(/opt/elasticbeanstalk/bin/get-config optionsettings -n aws:elasticbeanstalk:container:nodejs -o NodeVersion)

      # Exported to make sure Node binaries can be found by npm when we run it
      export PATH=/opt/elasticbeanstalk/node-install/node-v$SLY_EB_NODE_VERSION-linux-x64/bin:$PATH

      SLY_EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      SLY_EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe

      . /opt/elasticbeanstalk/sly-env.vars

      cd $SLY_EB_APP_STAGING_DIR && npm install --production=false

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      set -xe

      . /opt/elasticbeanstalk/sly-env.vars

      cd $SLY_EB_APP_DEPLOY_DIR && npm rebuild --production=false
